.card {
	width: 400px;
	height: 230px;
	border-radius: 10px;
	background-color: #1e1e1e;
	margin-bottom: 2em;
}

.card__title {
	font-size: 1em;
	color: #e0e0e0;
}
.card__img {
	border-radius: 10px;
}
.card__description {
	font-size: 12px;
	color: #b8b8b8;
	margin-bottom: 0;
}
.card__date {
	font-size: 9px;
	color: #727272;
}
